VITE_HASHCONNECT_PROJECT_ID=<Your-hashconnect-project-id>
VITE_MIRROR_NODE_URL=https://mainnet.mirrornode.hedera.com/api/v1
VITE_VAULT_ADDRESS=<Your-vault-address>

// USDC address on Hedera mainnet
VITE_TOKEN_ADDRESS=0x000000000000000000000000000000000006f89a